﻿@model MVCrakendusDemo.Models.Auto

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Auto</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nimi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nimi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nimi, "", new { @class = "text-danger" })
        </div>
    </div>

    @foreach (string tag in ViewBag.Tags)
    {
        if (ViewBag.SelectedTags.Contains(tag))
        {
            <input type="submit" name="Nupp" value="@tag" class="btn btn-default" style="background-color:green" />
        }
        else
        {
            <input type="submit" name="Nupp" value="@tag" class="btn btn-default" />
        }

    }
    <input type="hidden" name="Tags" value="@ViewBag.SelectedTags" />
    <input type="text" name="NewTag" class="form-control" />
    <input type="submit" name="Nupp" value="NewTag" class="btn btn-default" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" name="Nupp" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
