﻿@model MVCrakendusDemo.Models.Auto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Autod", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Auto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nimi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nimi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nimi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @foreach(var p in Model.DataFiles)
            {
            <div class="col-lg-2">
                <img src="@Url.Action("Content", "My", new { id = p.Id })" style="width:100%" />
                <a href="@Url.Action("RemovePicture", "Autod", new { id = Model.Id, pictureId = p.Id })">
                    <p>Kustuta</p>
                </a>

            </div>
            }
        </div>

        <input type="file" id="file" name="file" class="form-control"/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
