﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@if (Request.IsAuthenticated)
{
<p> sisse on loginud @User.Identity.Name </p>
<p> @ViewBag.User.DisplayName kelle on @ViewBag.User.Cars.Count autot</p>
}
else
{
<p> kedagi pole sisse loginud</p>
}