﻿@model IEnumerable<MVCrakendusDemo.Models.Product>
    @using MVCrakendusDemo.Models

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.CategoryName</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.CatId }, null)
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ProductName)*@
            @using (Html.BeginForm())
            {
                <input type="hidden" name="order" value="name" />
                <input type="hidden" name="direction" value="@(ViewBag.Order == "name" && ViewBag.Direction != "desc" ? "desc" : "asc")" />
                <input type="submit" class="form-control" value="Product Name" />
            }
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.SupplierID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.UnitPrice)*@
            @Html.ActionLink("Unit\u202fPrice", "Index", new { order = "price", direction = (ViewBag.Order == "price" && ViewBag.Direction != "desc" ? "desc" : "asc") }, new { @class = "form-control" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (ViewBag.EditId == item.ProductID)
            {
                using (Html.BeginForm("ChangeProduct", "Products", FormMethod.Post))
                {
                    <td>
                        <input type="hidden" name="ProductID" value="@item.ProductID" />
                        <input type="hidden" name="order" value="@ViewBag.Order" />
                        <input type="hidden" name="direction" value="@ViewBag.Direction" />
                        <input type="hidden" name="catId" value="@ViewBag.CatId" />
                        <input type="hidden" name="SupplierID" value="@item.SupplierID" />
                        <input type="hidden" name="CategoryID" value="@item.CategoryID" />
                        <input type="hidden" name="Discontinued" value="@item.Discontinued" />
                        <input type="hidden" name="QUantityPerUnit" value="@item.QuantityPerUnit" />

                        @Html.TextBox("ProductName", item.ProductName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBox("UnitPrice", item.UnitPrice)
                    </td>
                    <td>
                        @Html.TextBox("UnitsInStock", item.UnitsInStock)
                    </td>
                    <td>
                        @Html.TextBox("UnitsOnOrder", item.UnitsOnOrder)
                    </td>
                    <td>
                        @Html.TextBox("ReorderLevel", item.ReorderLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discontinued)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ProductID, catId = ViewBag.CatId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })*@
                        @Html.ActionLink("Cancel", "Index", new { catId = ViewBag.CatId, order = ViewBag.Order, direction = ViewBag.Direction }, new { @class = "btn btn-default" })
                        <input type="submit" value="Save" class="btn btn-default" />
                    </td>

                }
            }
            else
            {

                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                    @if (Request.IsAuthenticated)
                    {
                        if (item.Likers.Select(x => x.Email).ToList().Contains(User.Identity.Name))
                        { // user allready liked this product
                            <a href="@Url.Action("DisLike", "Products", new { id = item.ProductID })">
                                <img src="~/Content/Likes/dislike.png" height="20" />
                            </a> <b>( @item.Likers.Count )</b>
                        }
                        else
                        { // user never liked this product
                            <a href="@Url.Action("Like", "Products", new { id = item.ProductID })">
                                <img src="~/Content/Likes/like.png" height="20" />
                            </a> <b>( @item.Likers.Count )</b>

                        }
                    }
                    @if (item.ProductComments.Count > 0)
                    {
                    foreach (ProductComment c in item.ProductComments)
                    {
                        <p>
                            @c.AspNetUser.DisplayName: @c.Content (@c.Created.ToShortDateString())
                            @if(c.AspNetUser.Email == User.Identity.Name)
                            {
                            <b>@Html.ActionLink("kustuta", "RemoveComment", new { c.Id })</b>
                            }
                        </p>
                        }
                    }
                    @if(Request.IsAuthenticated)
                    {
                        <form action="/Products/AddComment" method="post">
                            <input type="hidden" name="id" value="@item.ProductID" />
                            <input type="text" name="content" placeholder="siia kommentaar" />
                            <input type="submit" value="Lisa" />
                        </form>
                    }
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.SupplierID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discontinued)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ProductID, catId = ViewBag.CatId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })*@
                    @Html.ActionLink("Edit", "Index", new { catId = ViewBag.CatId, order = ViewBag.Order, direction = ViewBag.Direction, editId = item.ProductID }, new { @class = "btn btn-default" })

                </td>

            }
        </tr>
    }

</table>
