﻿@model MVCrakendusDemo.Models.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFile.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFile.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    <div class="row">
        <div class="col-lg-5">
            <h4>sellel autol on juhid:</h4>
            @foreach (var x in Model.Drivers)
            {
                <p>@Html.ActionLink(x.DisplayName, "RemoveDriver", new { id = Model.Id, driverId = x.Id})</p>
                
            }
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
            
                <h4>vali siit teine juht:</h4>
            
            @foreach (var x in ViewBag.MIttejuhid)
            {
                string name = x.DisplayName?.ToString()??"nimetu";
                <p>@Html.ActionLink(name, "AddDriver", new { id = Model.Id, driverId = x.Id })</p>
            }
        </div>
    </div>
</div>


