﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Testime natuke andmete liikumist</h2>

<h3>Nimi: @ViewBag.Nimi</h3>

<p>TestBag: @ViewBag.TestViewBag</p>
<p>TestData: @ViewBag.TestViewData</p>

<p>Nr: @TempData["Nr"]</p>

<p>Query: @Request.QueryString</p>

<p>Application Started: @ViewBag.AppStarted</p>
<p>Application RequestNr: @ViewBag.AppRequestNr</p>

<p>Session Started: @Session["Started"]</p>
<p>Session RequestNr: @Session["RequestNr"]</p>

