﻿@using Microsoft.AspNet.Identity
@using MVCAutentimisega.Models
@if (Request.IsAuthenticated)
            { ApplicationUser auser = ApplicationUser.GetUser(User.Identity.GetUserName());
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Tere " + auser?.DisplayName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            @Html.ActionLink("Edit", "ChangeUserData", "Manage", null, null)
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        @if (auser?.PictureId != null)
         {
           <li><img height="60" src="@Url.Action("Content", "My", new { id = auser.PictureId.Value })" /></li>
         }
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
