﻿@{
    ViewBag.Title = "About";
    ViewBag.Korraldus = "selline";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>Siit hakkab Hennu lisatud jutt</p>
<p>Sõnum: @ViewBag.Sõnum</p>
<p>Korraldus: @ViewBag.Korraldus</p>
<p>Teine: @ViewBag.TeineSõnum</p>