﻿
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@{ 
    int a = 7;
    int b = 8;
}

<p>See on testimiseks</p>
<p>meil oli kaks arvu @a ja @b</p>
<p>neid korrutades saame @(a*b)</p>

<table class="table table-bordered table-hover">
@for (int i = 0; i < 10; i++)
{
    int j = i * i;
    <tr>
        <td>ma võin seda teha 10 korda</td>
        <td>@i</td>
        @{int k = i * i * i;
        }
        <td>@k</td>
    </tr>
}
 </table>