﻿@model EsimeneMVC.Models.Õpilane

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Õpilane</h4>
    <hr />
    @* õpilase lisamise vormil ei olnud isikukoodi - pidin selle lisama
        selleks tegin nimeväljast kopipaste (kogu plokk) ja muutsin igal pool (kus tuvastasin) Nimi -> IK
    *@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.IK, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IK, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IK, "", new { @class = "text-danger" })
            <p class="text-danger">@ViewBag.Error</p>
            @*see tüüp seal ees ei ole midagi rääkinud ViewBägist
                aga ma leidsin kuskilt googlist et selline asi on - ma siis kasutan
                kuidagi tuleks mul anda viewsse teada, et miski jama on (topelt isikukood)
            *@
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nimi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nimi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nimi, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Klass, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Klass, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Klass, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
