﻿@model IEnumerable<EsimeneMVC.Models.Õpilane>

@{
    ViewBag.Title = "Index";
}

<h2>Õpilaste nimekiri (kokku @Model.Count() õpilast)</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IK }) |
            @Html.ActionLink("Details", "Details", new { id=item.IK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IK })
        </td>
    </tr>
}

</table>
