﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>Kaardid</p>
@for (int i = 0; i < ViewBag.Kaardid.Length; i++)
{
    <a href="/Kaart/Index/@i">
        <img src="@($"/Content/Kaart/{(ViewBag.Faces[i] ? ViewBag.Kaardid[i] : 0)}.png")" height="60" />
    </a>
}


<p>Käsi:</p>
@for (int i = 0; i < ViewBag.Kaardid.Length; i++)
{
    if (ViewBag.Faces[i])
    {
        <a href="/Kaart/Index/@i">
            <img src="@($"/Content/Kaart/{(ViewBag.Kaardid[i])}.png")" height="200" />
        </a>
    }
}*@

@for (int s = 0; s < ViewBag.Nimed.Length; s++)
{
<p>@ViewBag.Nimed[s]:</p>
<a href="/Kaart/Index/@ViewBag.Id?kuhi=@s">
    <img src="~/Content/Kaart/0.png" height="200"/>
</a>
for (int i = 0; i < ViewBag.Kaardid.Length; i++)
{
    if (ViewBag.Kuhjad[i]==s)
    {
        <a href="/Kaart/Index/@(i)">
            <img src="@($"/Content/Kaart/{((ViewBag.Faces[i] ? ViewBag.Kaardid[i] : 0))}.png")" height="160" />
        </a>
    }
}
}